<div class="wrapper">
    <app-navbar></app-navbar>
    <div class="content">
        <form [formGroup]="registerForm">
            <p *ngIf="error" style="color: red;">{{ error }}</p>
            <p *ngIf="msg" style="color: green;">{{ msg }}</p>
            
            <h4>Register</h4>
            <p *ngIf="registerForm.invalid" style="font-size: 14px; color: #888;">*Fill in all fields to enable button</p>

            <div class="form-group">
                <label for="username">User Name</label>
                <input type="text" formControlName="username">
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" formControlName="email">
            </div>
            
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password">
            </div>
            
            <p>
                Already have an account? <a routerLink="/">  Login</a>
            </p>
            <button type="submit" [disabled]="registerForm.invalid" (click)="onSubmit()">Register</button>
        </form>
    </div>
</div>
